<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.backcli.dao.AccountDao">

    <select id="findByUsername" resultType="com.yi.backcli.entity.AccountLogin">
        select
               id, created_time, modified_time, deprecated, username, password
        from
             account_login
        where
              username = #{username};
    </select>

    <select id="findInfoByAccountId" resultType="com.yi.backcli.entity.AccountInfo">
        select
            id, created_time, modified_time, deprecated, username, nickname, type, account_id
        from
            account_info
        where
            account_id = #{accountId};
    </select>

</mapper>