<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.backcli.dao.ConsumptionDao">

    <insert id="create" parameterType="com.yi.backcli.entity.Consumption" useGeneratedKeys="true" flushCache="true"
            keyProperty="id">
        insert into consumption(money, content, type, record_id)
        values (#{money}, #{content}, #{type}, #{recordId});
    </insert>

</mapper>